block stylesheet
    link(rel='stylesheet', href='/css/event-fragment.css')

div.event-container
    div.col-lg-12.event-inner-container
        div.row
            div.single-event-image(style="background-image:url(#{data.events[locals.post.id].cover_url})")
            img.single-event-logo(src="#{data.events[locals.post.id].logo_url}")

        div.event-content-container
            div.row
                p(style="font-size:48px; font-weight:800") #{data.events[locals.post.id].name}
                p(style="margin-top:-30px") #{data.events[locals.post.id].url}

            div.row
                div.bar

            div.row
                div.col-md-7
                    div.row
                        h3 EVENT DESCRIPTION

                        for d in data.events[locals.post.id].description
                            p #{d}

                div.col-md-1

                div.col-md-4
                    div.row
                        h3.yellow THE COMMITTEE
                        p(style="margin-left: 15px") Lead
                    div.row
                        div.committee-photos
                            for member in data.events[locals.post.id].members
                                div.col-xs-3.member-photo(style="background-image: url(#{member.source});")


            div.row(style = "padding-bottom: 40px")
                if data.events[locals.post.id].partners
                    div.row
                        p.yellow Our Partners and Sponsors

                    div.row
                        div.partners
                            for partner in data.events[locals.post.id].partners
                                if partner.id
                                    a(href="#{data.partners[partner.id].link}")
                                        img.partner-logo(class="#{data.partners[partner.id].name}" id="#{data.partners[partner.id].name}" src="#{data.partners[partner.id].source}")

                //- div.col-md-1

                //- div.col-md-4
                    p.yellow PRESS
                    for link in data.events[locals.post.id].press
                        div.col-xs-6.col-md-12(style="width:auto")
                            p #{link}


        div.row
          if data.events[locals.post.id].bottom_images
            for url in data.events[locals.post.id].bottom_images
                div.col-sm-6(style="padding:0px")
                    div.bottom-image(style='background-image:url(#{url})')

        div.row(style="background-color:black")
            div.col-xs-6
                div.letterhead
                    img.sparksc-letterhead(src='/img/letterhead.svg')
            div.col-xs-6
                div.social-icons
                    a(href='https://facebook.com/gosparksc' target='_blank')
                        img.social-icon(src='/img/sm/facebook.svg' alt='facebook')
                    a(href='https://twitter.com/gosparksc' target='_blank')
                        img.social-icon(src='/img/sm/twitter.svg' alt='twitter')
                    a(href='https://instagram.com/gosparksc' target='_blank')
                        img.social-icon(src='/img/sm/instagram.svg' alt='instagram')

block javascript
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript').
        $(".event-page-close").click( function() {
            $('#event-page').html(x_html);
            window.history.pushState({page: window.location.href}, 'events' + '.html', '/events' + '.html');
        });
