extends layout

block stylesheet
    link(rel='stylesheet' href='/css/events.css')

//- block yamls
//-     != yaml()

block content
    div.container.events
        for event in site.events.all().sort(function(a, b){var x = a['order']; var y = b['order']; return ((x < y) ? -1 : ((x > y) ? 1 : 0));})
            div(class= 'col-md-#{event.width} gutter')
                div.event(id = "#{event._url}")
                    div.name #{event.name}
                    div.oneliner #{event.one_liner}
                    div.image
                        div.image-inner(style="background-image:url(#{event.card_url})")

    div.event-info
        div#event-page.event-page
            div.event-page-close
                a(href='/events.html') &#10006;
                //- div.inner &#10006;
            block event-page-content

block javascript
    script(type='text/javascript' src='/js/events.js')
