extends layout

block stylesheet
    link(rel='stylesheet' href='/css/whoweare.css')

block content

    section.ourteam
        h2 The Team
        p.description Spark SC is uniquely structured to make sure we're focusing on projects we're passionate about. Originally a small but mighty group of 6, we expanded into the Spark SC Board. Students apply each semester to be a part of the team and work on Committees that excite them. Applications open at the beginning of each USC semester. Interested? Check out <a href="http://sparksc.org/apply/" class="highlight"> our recruitment page</a>.

        div.photos
          for member, index in data["members"]
            div.single-member(id="#{member.id}")
                div.photo(style='background-image:url(/img/members/#{member.id}.jpg)')
                div.info(style='background-image:url(/img/members/#{member.id}-silly.jpg)')
                    div #{member.lower}

    section.ouralumni
        h2 Alumni
        p.description Our amazing Spark SC alumni!

        div.photos
        for alum, index in data["alumni"]
            div.single-member(id="#{alum.lower}")
                div.photo(style='background-image:url(/img/alumni/#{alum.lower}.jpg)')
                div.info(style='background-image:url(/img/alumni/#{alum.lower}-silly.jpg)')
                    div #{alum.lower}

block javascript
    script(type='text/javascript' src='/js/whoweare.js')
